html {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

.opaque {
	opacity: 0.3;
}
.opaque:hover {
	opacity: 1;
}

.opaqueMore {
	opacity: 0.1;
}
.opaqueMore:hover {
	opacity: 1;
}

.shiftRight {

}
.shiftRight:hover {
}

#rightColumn {
	position: absolute;
	top: 10px;
	width: 250px;
	right: 10px;
}

#leftColumn {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 250px;
}

#loc {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 150px;
}

#background {
	display: none;
	/*background: url(http://img-start.johnkilgo.com/images/2014.jpg);*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#feature {
	display: none;
	margin: auto;
	width: 332px;
	height: 100px;
}

#quote {
	color: #F8F8F8;
	font-weight: bold;
	font-size: 0.9em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	margin-left: auto;
	margin-right: auto;
	text-align: center ;
	width: 332px;
}

.input {
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	border:1px solid rgb(0,118,163);
	
	border-top-left-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	
	margin-left: auto;
	margin-right: auto;
	height: 25px ;
	width: 300px ;
}

.boxShadow {
	border: 0px;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}

.music {	
	width: 250px;
	height: 184px;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0px auto;
}